<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your cart</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="w-full h-16 m-auto border-b-2 flex">
        <div class="w-[70%] m-auto flex justify-between items-center">
            <h2><a href="/">LOGO</a></h2>
            <nav class="w-72">
                <ul class="flex justify-between">
                    <li>LINK 1</li>
                    <li>LINK 2</li>
                    <li>LINK 3</li>
                    <li><a href="/cart"><img src="https://img.icons8.com/external-jumpicon-glyph-ayub-irawan/32/undefined/external-cart-e-commerce-jumpicon-glyph-jumpicon-glyph-ayub-irawan-3.png"/></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="antialiased text-gray-600 px-4 mt-[150px] mb-[400px]">
        <div class="flex">
            <!-- Table -->
            <div class="w-full max-w-[75rem] mx-auto shadow-lg rounded-sm border border-gray-200">
                <header class="px-5 py-4 border-b border-gray-100">
                    <div class="font-semibold text-gray-800">Your items:</div>
                </header>
    
                <div class="overflow-x-auto p-3">
                    <table class="table-auto w-full">
                        <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                            <tr>
                                <th></th>
                                <th class="p-2">
                                    <div class="font-semibold text-left">Product Name</div>
                                </th>
                                <th class="p-2">
                                    <div class="font-semibold text-left">Quantity</div>
                                </th>
                                <th class="p-2">
                                    <div class="font-semibold text-left">Total</div>
                                </th>
                                <th class="p-2">
                                    <div class="font-semibold text-center">Action</div>
                                </th>
                            </tr>
                        </thead>
                        
                        <tbody id="rootCart" class="divide-y divide-gray-100">
                            
                        </tbody>
                    </table>
                </div>
    
                <!-- total amount -->
                <div class="flex justify-end font-bold space-x-4 text-2xl border-t border-gray-100 px-5 py-4">
                    <div>Total</div>
                    <div class="text-blue-600">RM <span x-text="total.toFixed(2)"></span></div>
                </div>
    
                <div class="flex justify-end">
                    <!-- send this data to backend (note: use class 'hidden' to hide this input) -->
                    <input type="text" class="border border-black bg-gray-50" x-model="selected" />
                </div>
            </div>
        </div>
    </section>


















</body>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/cart.js"></script>
</html>