<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="max-w-screen-xl px-4 pt-36 mx-auto sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto">
            <h1 class="text-2xl font-bold text-center text-indigo-600 dark:text-indigo-500 sm:text-3xl">Welcome to This</h1>

            <p class="max-w-md mx-auto mt-4 text-center text-gray-500 dark:text-gray-300">
            WRONG PASSWORD!!!!
            </p>

            <form action="/login" method="POST" class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-2xl">
            <p class="text-lg font-medium dark:text-gray-200">Sign in to your account</p>

            <div>
                <label for="email" class="text-sm font-medium dark:text-gray-200">Email</label>

                <div class="relative mt-1">
                <input
                    name="email"
                    type="email"
                    id="email"
                    class="w-full p-4 pr-12 text-sm border border-gray-200 rounded-lg shadow-sm dark:bg-gray-700 dark:border-[0px] dark:text-white"
                    placeholder="Enter email"
                />

                <span class="absolute inset-y-0 inline-flex items-center right-4 dark:text-white">
                    @
                </span>
                </div>
            </div>

            <div>
                <label for="password" class="text-sm font-medium dark:text-gray-200">Password</label>

                <div class="relative mt-1">
                <input
                    name="password"
                    type="password"
                    id="password"
                    class="w-full p-4 pr-12 text-sm border border-gray-200 rounded-lg shadow-sm dark:bg-gray-700 dark:border-[0px] dark:text-white"
                    placeholder="Enter password"
                />

                <span class="absolute inset-y-0 inline-flex items-center right-4">
                👁
                </span>
                </div>
            </div>

            <button type="submit" class="block w-full px-5 py-3 text-sm font-medium text-white bg-indigo-600 rounded-lg">
                Sign in
            </button>

            <p class="text-sm text-center text-gray-500">
                No account?
                <a href="/register" class="underline ml-2">Sign up</a>
            </p>
            </form>
        </div>
        </div>
</body>
<script src="/static/js/index.js"></script>
</html>